<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certificate</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all">
</head>
<body>
    <div class="main-div">
        <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
                   <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
                   <br><br>
                   <span style="font-size:25px"><i>This is to certify that</i></span>
                   <br><br>
                   {% for i in studentResult %}
                   <span style="font-size:30px"><b>{{i.Name}}</b></span><br/><br/>
                   <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
                   <span style="font-size:30px">{{i.Course}}</span> <br/><br/>
                   <span style="font-size:20px">with score of <b>{{i.Marks}}%</b></span> <br/><br/><br/><br/>
                   <span style="font-size:25px"><i>dated</i></span><br>
                    from {{i.Start_Date}} to {{i.End_Date}}
                    {% endfor %}
                  <span style="font-size:30px"></span>
            </div>
        </div>
        <div class="logout-div">
            <a href="/studentLogout" style="color:black; font-size:18px;">Logout</a>
        </div>
    </div>

</body>
</html>