<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/resp.main.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'font_awesome/css/all.min.css' %}" type="text/css" media="all">
</head>
<body>
    <div class="main-div">
        <div class="main-error-div">
            {% if signupError %}
                <div class="error-div">
                    <span class="error">Please fill up all the details!</span>
                </div>
            {% endif %}
            {% if idError %}
                <div class="error-div">
                    <span class="error">Student is already register.</span>
                </div>
            {% endif %}
        </div>
        <div class="form-div">
            <form action="/teacherHome/studentPost" method="post">
                {% csrf_token %}
                <div class="para-div">
                    <h3>Welcome Teacher!</h3>
                    <p>Please register your Students here!</p>
                </div>
                <div class="name-div">
                    <label for="">Student-Name:</label>
                    <input type="text" placeholder="Enter name of Student." name="name">
                </div>
                <div class="mobile-div">
                    <label for="">Mobile-no:</label>
                    <input type="text" placeholder="Enter mobile number of Student." name="mobile">
                </div>
                <div class="email-div">
                    <label for="">Email-id:</label>
                    <input type="email" placeholder="Enter email id of Student." name="email">
                </div>
                <div class="collegeId-div">
                    <label for="">Student-DOB:</label>
                    <input type="date" placeholder="Enter DOB of Student." name="dob">
                </div>
                <div class="collegeId-div">
                    <label for="">Course:</label>
                    <input type="text" placeholder="Enter course of Student." name="course">
                </div>
                <div class="submit-div">
                    <input type="submit" value="Create">
                    <p>For Home <a href="/teacherHome">Click Here</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>